body {
    background-color: lightgreen;
}

.title {
    font-size: 30px;
    color: white;
    text-align: center;
    background: chocolate;
    width: 30%;
}

.main-text {
    font-size: 18px;
    color: white;
    text-align: center;
    background: chocolate;
    width: 65%;
    text-align: center;
}

img {
    float: left;
    height: 100px;
    width: 100px;
    position: relative;
}


/* .random-number {
    width: 100px;
    height: 100px;
    background: chocolate;
}

.score {
    width: 100px;
    height: 100px;
    background: chocolate;
} */

.total-score-text {
    clear: both;
    background: chocolate;
    width: 20%;
    font-size: 20px;
    color: white;
    text-align: center;
}

.total-score {
    width: 20%;
    height: 100px;
    background: chocolate;
    color: white;
    font-size: 30px;
    text-align: center;
}

.random-number {
    width: 20%;
    height: 100px;
    background: chocolate;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.container {
    width: 20%;
    height: 100px;
    background: chocolate;
    font-size: 18px;
    color: white;
    text-align: center;
    
}

.col-md-8 {
    margin: 0px;
}

/* .blue-crystal {
    padding: 0 10 10 0px;
}

.red-crystal {
    padding: 0 10 10 0px;
}

.yellow-crystal {
    padding: 0 10 10 0px;
}

.green-crystal {
    padding: 0 10 10 0px;
} */

