body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/61/33/0357a734d62badc.jpg);
    font-family: 'Bungee Inline', cursive;
}

.title {
    padding: 5 5 5 5px;
    font-size: 30px;
    color: black;
    text-align: center;
    background: lightgray;
    width: 30%;
    margin-left: 525px;
}

.main-text {
    font-size: 18px;
    color: black;
    text-align: center;
    background: lightgray;
    width: 55%;
    text-align: center;
    height: 30%;
    margin-left: 325px;
}

img {
    float: left;
    height: 150px;
    width: 150px;
    position: relative;
    margin-left: 200px;
}

.total-score-text {
    clear: both;
    background: lightgray;
    width: 20%;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-left: 600px;
}

.total-score {
    width: 20%;
    height: 75px;
    background: lightgray;
    color: black;
    font-size: 50px;
    text-align: center;
    margin-left: 600px;
    font-weight: bold;
}

.random-number {
    width: 20%;
    height: 75px;
    background: lightgray;
    color: black;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    margin-left: 600px;
    font-weight: bold;
}

.container {
    width: 20%;
    height: 75px;
    background: lightgray;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 600px;
    font-weight: bold;
    
}

.col-md-8 {
    margin: 0px;
}

.game {
    align-content: center;
}
